body { font-family: TrajanPro-Regular, 'Lucida Grande', sans-serif; }

.edit_delete {
    text-align: center;
    padding: 4px;
  }

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  
  .grid-item {
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
  
  .item1 {
    background-color: yellow;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }
  
  .item2 {
    background-color: blue;
    grid-column: 2;
    grid-row: 1;
    text-align: right;
  }
  
  .item3 {
    background-color: green;
    grid-column: 1;
    grid-row: 2;
    text-align: left;
  }
  
  .item4 {
    background-color: grey;
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }
  
  .item5 {
    background-color: yellow;
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  
  #rate-area-list {
    float: right;
    padding: 20px;
    background: #eee;
}
 
.title {
overflow: auto;
}

div {
	height: auto;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
}

  
  
  #btnNew {
    /* background-color: grey;  */
    border-style: inset;
  }

  table {
    width: 100%;
  }

  table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table tbody td {
    font-size: 13px;
  }
  table tr:nth-child(even) {
    background: #D0E4F5;
  }
  table thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table thead th:first-child {
    border-left: none;
  }
  
  table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table tfoot td {
    font-size: 14px;
  }
  table tfoot .links {
    text-align: right;
  }
  table tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

.column1{
      width: 15%;
  }

.column2{
    width: 70%;
}

.column3{
    width: 15%;
}





form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}
form button:hover {
  background: gold;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }
  
    .importance {
    text-align: left;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}





.rate-area {
    float:left;
    border-style: none;
}

.rate-area:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rate-area:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:lightgrey;
    text-shadow:1px 1px #bbb;
}

.rate-area:not(:checked) > label:before {
    content: '★ ';
}

.rate-area > input:checked ~ label {
    color: gold;
    text-shadow:1px 1px #c60;
    font-size:200% !important;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
    color: gold;
    
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;   
    
}

.rate-area > label:active {
    position:relative;
    top:2px;
    left:2px;
}


/* Menu radio buttons */

.input-radio{
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}
input[type=radio] {
    display: none;
  }
.input-radio > label {
    padding: 20px;
    border: 1px solid #ddd;
 
  }
  .input-radio > label:hover {
    border: 1px solid red;
  }

  
  .input-radio > input[type="radio"]:checked + label {
    border: 1px solid red;
    background:yellow;
    
  }


/* Menu radio buttons  try 2*/


  .donate-now {
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
}

.donate-now li {
    float:left;
    margin:0 5px 0 0;
   width:100px;
   height:40px;
   position:relative;
}

.donate-now label, .donate-now input {
   display:block;
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

.donate-now input[type="radio"] {
   opacity:0.011;
   z-index:100;
}

.donate-now input[type="radio"]:checked + label {
   background:yellow;
}

.donate-now label {
    padding:5px;
    border:1px solid #CCC; 
    cursor:pointer;
   z-index:90;
}

.donate-now label:hover {
    background:#DDD;
}